# Root of the editor config
root = true

# Use spaces instead of tabs
[*.cs]
indent_size = 4
indent_style = space

# Enable/disable specific StyleCop rules
# Turn off XML doc requirement
dotnet_diagnostic.SA1633.severity = none
dotnet_diagnostic.SA1600.severity = none
# Make ordering of using statements a warning
dotnet_diagnostic.SA1200.severity = warning
# Treat missing file header as an error
#dotnet_diagnostic.SA1633.severity = error
